.Head {
    font-family: 'Lemonada', cursive;
    font-family: 'Roboto Slab', serif;
    font-family: 'Rowdies', cursive;;
    color: midnightblue;
}

body{
    background-image: url("kelli-tungay-2LJ4rqK2qfU-unsplash.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    font-size: 16px;
    font-family: 'Lemonada', cursive;
    font-family: 'Red Rose', cursive;
    font-family: 'Roboto Slab', serif;
    text-align: center;





}

.last{
    font-size: 20px;
    font-family: serif;
    border-radius: 50px;
    background: goldenrod;
    padding:1px;
    height:60px;
    width: 350px;
    text-align: center;

}

.last:hover{
    color: midnightblue;
}

.content{
    text-align: justify;
    padding: 5px;
    width:185px;
    height: 200px;
    text-align: center;

}